<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/img/books.png">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>{{title}}</title>
</head>

<body>
  {{>header}}
  <img class="portrait" src="./img/me.jpeg" />
  <p>Welcome to my books app! I'm a web developer based in Atlanta, GA. I have a background in art history, but recently
    made a career change to software engineering. This app is a way for me to practice using Node.js and Express. Visit
    my <a href="https://github.com/wulman16">GitHub</a> or
    <a href="https://www.linkedin.com/in/willulman/">LinkedIn</a>
    to learn more about me.</p>
  {{>footer}}
</body>

</html>